@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SUBSCRIBE";
}

<br>
<br>
<br>
<div class="Start">

    <form>

        <br><br>
        <h2>SUBSCRIBED SUCCESSFULLY!</h2>
        <br><br>

    </form>

</div>
<div class="col-12 trans"></div>
<br>
<br>
<br>
<br>
<br>
