
<!DOCTYPE html>
<html>

<head>
    <title>ADMIN</title>
    <link rel="stylesheet" href="~/css/admin.css"/>
</head>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <div class="options">
            <div class="option">
                <a href="/Admin/Add">Add Player</a>
            </div>
            <div class="option">
                <a href="/Admin/Remove">Remove Player</a>
            </div>
            <div class="option">
                <a href="/Admin/Update">Update Player</a>
            </div>
            <div class="option">
                <a href="/Admin/List">List of All Player</a>
            </div>
            
        </div>
    </div>
    <br />
    <br>
    <br />
    <br />
    <br>
    <br />
</body>
</html>
