<!doctype html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/studentprofile.css">
    <link rel="stylesheet" href="css/addstudent.css">
    <link rel="stylesheet" href="css/studentslist.css">

</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                @* <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button> *@
            </div>
            <div class="img bg-wrap text-center py-4" style="background-color: #495057">
                <div class="user-logo">
                    <!-- <div class="img" style="background-image: url(images/logo.jpg);"></div> -->
                    <h3>@ViewBag.Username</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#"><span class="fa fa-home mr-3"></span> Profile</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> Update Profile</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-trophy mr-3"></span> Dashboard</a>
                </li>

                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> Log Out</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @* <div class="table-container">
                <h2 style="text-align: center;">
                    Student Profile
                </h2>

                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Grade</td>
                            <td>12</td>
                        </tr>

                    </tbody>
                </table>
            </div> *@

            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main2.js"></script>
</body>
</html>