<div class="col-12 footer">

    <img src="/Images/psl8_logo_Circle.png" class="PSL">
    &nbsp;&nbsp;


    <img src="/Images/sponsors-2023.png" width="75%" height="auto">


    <br>
    &nbsp;&nbsp;
    <div class="com">
        <b>JOIN OUR COMMUNITY</b>
        <br><br>
        <a href="https://www.facebook.com/thePSL/">
            <img src="/Images/facebook.png" class="social">
        </a>

        &nbsp;&nbsp;
        <a href="https://www.youtube.com/%40PakistanSuperLeagueOfficial">
            <img src="/Images/58e9197deb97430e819064f8.png" class="social">
        </a>

        &nbsp;&nbsp;
        <a href="https://twitter.com/thePSLt20?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <img src="/Images/5a2fe3efcc45e43754640848.png" class="social">
        </a>

        &nbsp;&nbsp;
        <a href="https://www.instagram.com/thepsl/?hl=en">
            <img src="/Images/pngkey.com-instagram-circle-png-4486200.png" class="social">
        </a>
        <br><br>
        © 2023 All Rights Reserved
    </div>
</div>
