@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "TEAMS";
}
        <div class="col-12 trans"></div>

        <div class="col-12 trans"></div>

        <div class="col-2 trans"></div>

        <div class="col-8 teams">
    <br>
    <h2>HBL PSL SEASON 8 TEAMS</h2><br>
    <a href="/Teams/LahoreQalandars" class="team_link">
        <img src="Images/lahore_logo.png" class="teams_logo">
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/PeshawarZalmi" class="team_link">
        <img src="Images/zalmi_logo.png" class="teams_logo">
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/IslamabadUnited" class="team_link">
        <img src="Images/united_logo.jpg" class="teams_logo">
    </a>

    <br>
    <a href="/Teams/LahoreQalandars" class="team_link">       LAHORE QALANDARS</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/PeshawarZalmi" class="team_link">         PESHAWAR ZALMI</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/IslamabadUnited" class="team_link">        ISLAMABAD UNITED</a>

    <br><br><br>
    <a href="/Teams/QuettaGladiators" class="team_link">
        <img src="Images/quetta-logo.jpg" class="teams_logo">
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/KarachiKings" class="team_link">
        <img src="Images/kings_logo.png" class="teams_logo">
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/MultanSultans" class="team_link">
        <img src="Images/sultan_logo.jpg" class="teams_logo">
    </a>

    <br>

    <a href="/Teams/QuettaGladiators" class="team_link">         QUETTA GLADIATORS    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/KarachiKings" class="team_link">          KARACHI KINGS</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Teams/MultanSultans" class="team_link">         MULTAN SULTAN</a>
    <br><br><br>
          
            <div>
                <vc:StatsComponent>

                </vc:StatsComponent>
            </div>
            <div>
                <h2 class="win">PSL 2023 STATS</h2>
                <h2 class="win">MOST RUNS</h2>

                <table class="points">
                    <thead>
                        <tr>
                            <th>PLAYER</th>
                            <th>TEAM</th>
                            <th>MAT</th>
                            <th>INNS</th>
                            <th>RUNS</th>
                            <th>SR</th>
                            <th>HS</th>
                            <th>AVE</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <td>Muhammad Rizwan</td>
                            <td>Multan Sultans</td>
                            <td>12</td>
                            <td>12</td>
                            <td>550</td>
                            <td>142.85</td>
                            <td>110*</td>
                            <td>55.00</td>
                        </tr>

                        <tr>
                            <td>Babar Azam</td>
                            <td>Peshawar Zalmi</td>
                            <td>11</td>
                            <td>11</td>
                            <td>522</td>
                            <td>145.40</td>
                            <td>115</td>
                            <td>52.20</td>
                        </tr>

                        <tr>
                            <td>Rilee Rossouw</td>
                            <td>Multan Sultans</td>
                            <td>11</td>
                            <td>11</td>
                            <td>453</td>
                            <td>171.59</td>
                            <td>121</td>
                            <td>45.30</td>
                        </tr>

                        <tr>
                            <td>Fakhar Zaman</td>
                            <td>Lahore Qalandars</td>
                            <td>13</td>
                            <td>13</td>
                            <td>429</td>
                            <td>160.67</td>
                            <td>115</td>
                            <td>33.00</td>
                        </tr>

                        <tr>
                            <td>Imad Wasim</td>
                            <td>Karachi Kings</td>
                            <td>10</td>
                            <td>10</td>
                            <td>404</td>
                            <td>170.46</td>
                            <td>92*</td>
                            <td>134.660</td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <br>

            <div>
                <h2 class="win">MOST WICKETS</h2>

                <table class="points">
                    <thead>
                        <tr>
                            <th>PLAYER</th>
                            <th>TEAM</th>
                            <th>MAT</th>
                            <th>INNS</th>
                            <th>RUNS</th>
                            <th>WKTS</th>
                            <th>BBI</th>
                            <th>ECON</th>
                            <th>AVE</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <td>Abbas Afridi</td>
                            <td>Multan Sultans</td>
                            <td>11</td>
                            <td>11</td>
                            <td>372</td>
                            <td>23</td>
                            <td>5/47</td>
                            <td>9.45</td>
                            <td>16.17</td>
                        </tr>

                        <tr>
                            <td>Ihsanullah</td>
                            <td>Multan Sultans</td>
                            <td>12</td>
                            <td>12</td>
                            <td>347</td>
                            <td>22</td>
                            <td>5/12</td>
                            <td>7.59</td>
                            <td>15.77</td>
                        </tr>

                        <tr>
                            <td>Rashid Khan</td>
                            <td>Lahore Qalandars</td>
                            <td>11</td>
                            <td>11</td>
                            <td>281</td>
                            <td>20</td>
                            <td>4/21</td>
                            <td>6.53</td>
                            <td>14.05</td>
                        </tr>

                        <tr>
                            <td>Shaheen Afridi</td>
                            <td>Lahore Qalandars</td>
                            <td>12</td>
                            <td>12</td>
                            <td>402</td>
                            <td>19</td>
                            <td>5/40</td>
                            <td>9.13</td>
                            <td>21.15</td>
                        </tr>

                        <tr>
                            <td>Usama Mir</td>
                            <td>Multan Sultans</td>
                            <td>12</td>
                            <td>12</td>
                            <td>341</td>
                            <td>17</td>
                            <td>3/22</td>
                            <td>7.93</td>
                            <td>20.05</td>
                        </tr>


                    </tbody>
                </table>
            </div>


            <div>
                <h2 class="win">MOST SIXES</h2>

                <table class="points">
                    <thead>
                        <tr>
                            <th>PLAYER</th>
                            <th>TEAM</th>
                            <th>MAT</th>
                            <th>INNS</th>
                            <th>6s</th>
                            <th>BF</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <td>Fakhar Zaman</td>
                            <td>Lahore Qalandars</td>
                            <td>13</td>
                            <td>13</td>
                            <td>27</td>
                            <td>267</td>
                        </tr>

                        <tr>
                            <td>Tom Kohler-Cadmore</td>
                            <td>Peshawar Zalmi</td>
                            <td>12</td>
                            <td>12</td>
                            <td>21</td>
                            <td>203</td>
                        </tr>

                        <tr>
                            <td>Rilee Rossouw</td>
                            <td>Multan Sultans</td>
                            <td>11</td>
                            <td>11</td>
                            <td>20</td>
                            <td>176</td>
                        </tr>

                        <tr>
                            <td>Colin Munro</td>
                            <td>Islamabad United</td>
                            <td>11</td>
                            <td>11</td>
                            <td>20</td>
                            <td>176</td>
                        </tr>

                        <tr>
                            <td>Kieron Pollard</td>
                            <td>Multan Sultans</td>
                            <td>11</td>
                            <td>10</td>
                            <td>18</td>
                            <td>159</td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <div>
                <h2 class="win">HIGHEST TOTALS</h2>

                <table class="points">
                    <thead>
                        <tr>
                            <th>TEAM</th>
                            <th>SCORE</th>
                            <th>OPP</th>
                            <th>RR</th>
                            <th>INN</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <td>Multan</td>
                            <td>262/3</td>
                            <td><b>v</b>  Quetta</td>
                            <td>13.1</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <td>Quetta</td>
                            <td>253/8</td>
                            <td><b>v</b>  Multan</td>
                            <td>12.65</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Multan</td>
                            <td>244/6</td>
                            <td><b>v</b>  Peshawar</td>
                            <td>12.73</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Quetta</td>
                            <td>243/2</td>
                            <td><b>v</b>  Peshawar</td>
                            <td>13.25</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Peshawar</td>
                            <td>242/6</td>
                            <td><b>v</b>  Multan</td>
                            <td>12.1</td>
                            <td>1</td>
                        </tr>


                    </tbody>
                </table>
            </div>

        

</div>

        <div class="col-2 trans"></div>

        <div class="col-12 trans"></div>

        <div class="col-12 trans"></div>


