@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FIXTURES";
}

<br>
<h1>HBL PSL SEASON 8</h1>

<div class="fixture-container">
    <a href="https://cricwick.net/match/9902/summary/1/Match%201-Multan%20Sultans-vs-Lahore%20Qalandars" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 1</b></span>
            <br>
            <span>13 Feb, 2023</span>
            <div class="team-logo">
                <img src="~/Images/sultan_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>MS <br> 174/6 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Multan Sultans <br> vs <br> Lahore Qalandars</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>LQ <br>175/6 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/lahore_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 1 run</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9903/summary/1/Match%202-Karachi%20Kings-vs-Peshawar%20Zalmi" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 2</b></span>
            <br>
            <span>14 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/kings_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>MS <br> 197/5 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Karachi Kings <br> vs <br> Peshawar Zalmi</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>PZ <br> 199/5 (20)</span>  &nbsp; &nbsp;
                <img src="/Images/zalmi_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Peshawar Zalmi won by 2 runs</span>
            </div>
        </div>

    </a>

</div>


<div class="fixture-container">
    <a href="https://cricwick.net/match/9904/summary/1/Match%203-Multan%20Sultans-vs-Quetta%20Gladiators" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 3</b></span>
            <br>
            <span>15 Feb, 2023</span>
            <div class="team-logo">
                <img src="~/Images/sultan_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>MS <br> 111/1 (13.3)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Multan Sultans <br> vs <br> Quetta Gladiators</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>QG <br>110 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/quetta-logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Multan Sultans won by 9 wickets</span>
            </div>
        </div>
    </a>

    <a href="https://cricwick.net/match/9905/summary/1/Match%204-Karachi%20Kings-vs-Islamabad%20United" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 4</b></span>
            <br>
            <span>17 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/kings_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>KK <br> 173/7 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Karachi Kings <br> vs <br> Islamabad United</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>IU <br> 178/6 (18.2)</span>  &nbsp; &nbsp;
                <img src="/Images/united_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Islamabad United won by 4 wickets</span>
            </div>
        </div>

    </a>

</div>



<div class="fixture-container">
    <a href="https://cricwick.net/match/9906/summary/1/Match%205-Multan%20Sultans-vs-Peshawar%20Zalmi" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 5</b></span>
            <br>
            <span>17 Feb, 2023</span>
            <div class="team-logo">
                <img src="~/Images/sultan_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>MS <br> 210/3 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Multan Sultans <br> vs <br> Peshawar Zalmi</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>PZ <br>154 (18.5)</span>
                &nbsp; &nbsp;
                <img src="/Images/zalmi_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Multan Sultans won by 56 runs</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9907/summary/1/Match%206-Karachi%20Kings-vs-Quetta%20Gladiators" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 6</b></span>
            <br>
            <span>18 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/kings_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>KK <br> 162/5 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Karachi Kings <br> vs <br> Quetta Gladiators</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>QG <br> 168/7 (20)</span>  &nbsp; &nbsp;
                <img src="/Images/quetta-logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Quetta Gladiators won by 6 runs</span>
            </div>
        </div>
    </a>
</div>



<div class="fixture-container">
    <a href="https://cricwick.net/match/9908/summary/1/Match%207-Multan%20Sultans-vs-Islamabad%20United" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 7</b></span>
            <br>
            <span>19 Feb, 2023</span>
            <div class="team-logo">
                <img src="~/Images/sultan_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>MS <br> 190/4 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Multan Sultans <br> vs <br> Islamabad United</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>IU <br>138 (17.5)</span>
                &nbsp; &nbsp;
                <img src="/Images/united_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Multan Sultans won by 52 runs</span>
            </div>
        </div>
    </a>


    <a href="https://cricwick.net/match/9909/summary/1/Match%208-Karachi%20Kings-vs-Lahore%20Qalandars" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 8</b></span>
            <br>
            <span>19 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/kings_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>KK <br> 185/5 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Karachi Kings <br> vs <br> Lahore Qalandars</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>LQ <br> 118 (17.3)</span>  &nbsp; &nbsp;
                <img src="/Images/lahore_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Karachi Kings won by 67 runs</span>
            </div>
        </div>
    </a>
</div>

<a href="https://cricwick.net/match/9910/summary/1/Match%209-Quetta%20Gladiators-vs-Peshawar%20Zalmi" class="fixture-link">
    <div class="fixture-container">
        <div class="fixture-box">
            <span><b>Match 9</b></span>
            <br>
            <span>20 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/quetta-logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>QG <br> 154/4 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Quetta Gladiators <br> vs <br> Peshawar Zalmi</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>PZ <br>157/6 (18.3)</span>
                &nbsp; &nbsp;
                <img src="/Images/zalmi_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Peshawar Zalmi won by 4 wickets</span>
            </div>
        </div>
</a>

<a href="https://cricwick.net/match/9911/summary/1/Match%2010-Quetta%20Gladiators-vs-Lahore%20Qalandars" class="fixture-link">
    <div class="fixture-box">
        <span><b>Match 10</b></span>
        <br>
        <span>21 Feb, 2023</span>
        <div class="team-logo">
            <img src="/Images/quetta-logo-modified.png" alt="Team A Logo">
            &nbsp; &nbsp;
            <span>QG <br> 135/8 (20)</span>
            &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
            <div class="team-names">
                <h3>Quetta Gladiators <br> vs <br> Lahore Qalandars</h3>
            </div>
            &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <span>LQ <br> 198/6 (20)</span>  &nbsp; &nbsp;
            <img src="/Images/lahore_logo.png" alt="Team B Logo">
        </div>
        <div class="match-details">


            <span>Lahore Qalandars won by 63 runs</span>
        </div>
    </div>
</a>
      </div>


<div class="fixture-container">

    <a href="https://cricwick.net/match/9912/summary/1/Match%2011-Multan%20Sultans-vs-Karachi%20Kings" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 11</b></span>
            <br>
            <span>22 Feb, 2023</span>
            <div class="team-logo">
                <img src="~/Images/sultan_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>MS <br> 196/2 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Multan Sultans <br> vs <br> Karachi Kings</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>KK <br>193/5 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/kings_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Multan Sultans won by 3 runs</span>
            </div>
        </div>
    </a>

    <a href="https://cricwick.net/match/9913/summary/1/Match%2012-Peshawar%20Zalmi-vs-Islamabad%20United" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 12</b></span>
            <br>
            <span>23 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/zalmi_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>PZ <br> 156/8 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Peshawar Zalmi <br> vs <br> Islamabad United </h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>IU <br> 159/4 (14.5)</span>  &nbsp; &nbsp;
                <img src="/Images/united_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Islamabad United won by 6 wickets</span>
            </div>
        </div>
    </a>
</div>


<div class="fixture-container">

    <a href="https://cricwick.net/match/9914/summary/1/Match%2013-Quetta%20Gladiators-vs-Islamabad%20United" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 13</b></span>
            <br>
            <span>24 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/quetta-logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>QG <br> 157 (19.1)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Quetta Gladiators <br> vs <br> Islamabad United</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>IU <br>220/6</span>
                &nbsp; &nbsp;
                <img src="/Images/united_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Islamabad United won by 63 runs</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9915/summary/1/Match%2014-Karachi%20Kings-vs-Multan%20Sultans" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 14</b></span>
            <br>
            <span>26 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/kings_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>KK <br> 167/3 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Karachi Kings <br> vs <br> Multan Sultans</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>MS <br> 101 (16.3)</span>  &nbsp; &nbsp;
                <img src="~/Images/sultan_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Karachi Kings won by 66 runs</span>
            </div>
        </div>
    </a>
</div>

<div class="fixture-container">
    <a href="https://cricwick.net/match/9916/summary/1/Match%2015-Lahore%20Qalandars-vs-Peshawar%20Zalmi" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 15</b></span>
            <br>
            <span>26 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>LQ <br> 241/3 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br>Peshawar Zalmi </h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>PS <br>201/9 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/zalmi_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 40 run</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9917/summary/1/Match%2016-Lahore%20Qalandars-vs-Islamabad%20United" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 16</b></span>
            <br>
            <span>27 Feb, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>LQ <br> 200/7 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br>Islamabad United </h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>IU <br> 90 (13.5)</span>  &nbsp; &nbsp;
                <img src="/Images/united_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 110 runs</span>
            </div>
        </div>
    </a>
</div>

<div class="fixture-container">
    <a href="https://cricwick.net/match/9918/summary/1/Match%2017-Peshawar%20Zalmi-vs-Karachi%20Kings" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 17</b></span>
            <br>
            <span>01 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/zalmi_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>PZ <br> 197/5 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Peshawar Zalmi <br> vs <br>Karachi Kings </h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>KK <br>173/8 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/kings_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Peshawar Zalmi won by 24 run</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9919/summary/1/Match%2018-Lahore%20Qalandars-vs-Quetta%20Gladiators" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 18</b></span>
            <br>
            <span>02 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>LQ <br> 148 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br>Quetta Gladiators </h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>QG <br> 131/7 (20)</span>  &nbsp; &nbsp;
                <img src="/Images/quetta-logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 17 runs</span>
            </div>
        </div>
    </a>
</div>


<div class="fixture-container">
    <a href="https://cricwick.net/match/9920/summary/1/Match%2019-Islamabad%20United-vs-Karachi%20Kings" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 19</b></span>
            <br>
            <span>03 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/united_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>IU <br> 204/4 (19.2)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Islamabad United <br> vs <br> Karachi Kings</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>KK <br>201/5 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/kings_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Islamabad United won by 6 wickets</span>
            </div>
        </div>
    </a>

    <a href="https://cricwick.net/match/9921/summary/1/Match%2020-Lahore%20Qalandars-vs-Multan%20Sultans" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 20</b></span>
            <br>
            <span>04 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>LQ <br> 180/9 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br> Multan Sultans</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>MS <br> 159/7 (20)</span>  &nbsp; &nbsp;
                <img src="~/Images/sultan_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 21 runs</span>
            </div>
        </div>
    </a>


</div>



<div class="fixture-container">
    <a href="https://cricwick.net/match/9922/summary/1/Match%2021-Islamabad%20United-vs-Quetta%20Gladiators" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 21</b></span>
            <br>
            <span>05 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/united_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>IU <br> 183/8 (19.3)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Islamabad United <br> vs <br> Quetta Gladiators</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>QG <br>179/6</span>
                &nbsp; &nbsp;
                <img src="/Images/quetta-logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Islamabad United won by 2 wickets</span>
            </div>
        </div>
    </a>

    <a href="https://cricwick.net/match/9923/summary/1/Match%2022-Quetta%20Gladiators-vs-Karachi%20Kings" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 22</b></span>
            <br>
            <span>06 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/quetta-logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>QG <br> 168/6 (19.5)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Quetta Gladiators <br> vs <br> Karachi Kings</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>KK <br> 164/6 (20)</span>  &nbsp; &nbsp;
                <img src="/Images/kings_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Quetta Gladiators won by 4 wickets</span>
            </div>
        </div>
    </a>
</div>



<div class="fixture-container">
    <a href="https://cricwick.net/match/9924/summary/1/Match%2023-Peshawar%20Zalmi-vs-Lahore%20Qalandars" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 23</b></span>
            <br>
            <span>07 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/zalmi_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>PZ <br> 207 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Peshawar Zalmi <br> vs <br> Lahore Qalandars</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>LQ <br> 172 (19.4)</span>
                &nbsp; &nbsp;
                <img src="/Images/lahore_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Peshawar Zalmi won by 35 runs</span>
            </div>
        </div>
    </a>

    <a href="https://cricwick.net/match/9925/summary/1/Match%2024-Islamabad%20United-vs-Multan%20Sultans" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 24</b></span>
            <br>
            <span>07 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/united_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>IU <br> 209/8 (19.5)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Islamabad United <br> vs <br> Multan Sultans</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>MS <br> 205/5 (20)</span>  &nbsp; &nbsp;
                <img src="~/Images/sultan_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Islamabad United won by 2 wickets</span>
            </div>
        </div>
    </a>
</div>

<div class="fixture-container">
    <a href="https://cricwick.net/match/9926/summary/1/Match%2025-Peshawar%20Zalmi-vs-Quetta%20Gladiators" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 25</b></span>
            <br>
            <span>08 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/zalmi_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>PZ <br> 240/2 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3> Peshawar Zalmi <br> vs <br> Quetta Gladiators</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>QG <br>243/2 (18.2)</span>
                &nbsp; &nbsp;
                <img src="/Images/quetta-logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Quetta Gladiators won by 8 wickets</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9927/summary/1/Match%2026-Islamabad%20United-vs-Lahore%20Qalandars" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 26</b></span>
            <br>
            <span>09 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/united_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>IU <br> 107 (15.1)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Islamabad United <br> vs <br> Lahore Qalandars</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>LQ <br> 226/5 (20)</span>  &nbsp; &nbsp;
                <img src="/Images/lahore_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 119 runs</span>
            </div>
        </div>
    </a>
</div>


<div class="fixture-container">
    <a href="https://cricwick.net/match/9928/summary/1/Match%2027-Peshawar%20Zalmi-vs-Multan%20Sultans" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 27</b></span>
            <br>
            <span>10 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/zalmi_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>PZ <br> 242/6 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3> Peshawar Zalmi <br> vs <br> Multan Sultans</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>MS <br>244/6 (19.1)</span>
                &nbsp; &nbsp;
                <img src="~/Images/sultan_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Multan Sultans won by 4 wickets</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9929/summary/1/Match%2028-Quetta%20Gladiators-vs-Multan%20Sultans" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 28</b></span>
            <br>
            <span>11 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/quetta-logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>QG <br> 253/8 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Quetta Gladiators <br> vs <br> Multan Sultans</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>MS <br> 262/3 (20)</span>  &nbsp; &nbsp;
                <img src="~/Images/sultan_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Multan Sultans won by 9 runs</span>
            </div>
        </div>
    </a>
</div>

<div class="fixture-container">
    <a href="https://cricwick.net/match/9930/summary/1/Match%2029-Islamabad%20United-vs-Peshawar%20Zalmi" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 29</b></span>
            <br>
            <span>12 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/united_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>IU <br> 166 (19.4)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Islamabad United <br> vs <br> Peshawar Zalmi </h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>PZ <br>179/8 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/zalmi_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">
                <span>Islamabad United won by 13 runs</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/9931/summary/1/Match%2030-Lahore%20Qalandars-vs-Karachi%20Kings" class="fixture-link">
        <div class="fixture-box">
            <span><b>Match 30</b></span>
            <br>
            <span>12 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;

                <span>LQ <br> 110/9 (18.5)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br> Karachi Kings </h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>KK <br>196/7 (20)</span>
                &nbsp; &nbsp;
                <img src="/Images/kings_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">
                <span>Karachi Kings won by 86 runs</span>
            </div>
        </div>
    </a>
</div>

<div class="fixture-container">
    <a href="https://cricwick.net/match/10058/summary/1/Qualifier%20-Lahore%20Qalandars-vs-Multan%20Sultans" class="fixture-link">
        <div class="fixture-box">
            <span><b>Qualifier</b></span>
            <br>
            <span>15 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>LQ <br> 76 (14.3)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br> Multan Sultans</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>MS <br> 160/5 (20)</span>  &nbsp; &nbsp;
                <img src="~/Images/sultan_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Multan Sultans won by 84 runs</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/10059/summary/1/Eliminator%201-Islamabad%20United-vs-Peshawar%20Zalmi" class="fixture-link">
        <div class="fixture-box">
            <span><b>Eliminator 1</b></span>
            <br>
            <span>16 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/united_logo-modified.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>IU <br> 171/6 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Islamabad United <br> vs <br> Peshawar Zalmi</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>PZ <br> 183/8 (20)</span>  &nbsp; &nbsp;
                <img src="/Images/zalmi_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Peshawar Zalmi won by 12 runs</span>
            </div>
        </div>
    </a>
</div>


<div class="fixture-container">
    <a href="https://cricwick.net/match/10067/summary/1/Eliminator%202-Lahore%20Qalandars-vs-Peshawar%20Zalmi" class="fixture-link">
        <div class="fixture-box">
            <span><b>Eliminator 2</b></span>
            <br>
            <span>17 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>LQ <br> 176/6 (18.5)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br>Peshawar Zalmi</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>PZ <br> 171/5 (20)</span>  &nbsp; &nbsp;
                <img src="/Images/zalmi_logo.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 4 wickets</span>
            </div>
        </div>
    </a>
    <a href="https://cricwick.net/match/10069/summary/1/Final-Lahore%20Qalandars-vs-Multan%20Sultans" class="fixture-link">
        <div class="fixture-box">
            <span><b>Final</b></span>
            <br>
            <span>18 Mar, 2023</span>
            <div class="team-logo">
                <img src="/Images/lahore_logo.png" alt="Team A Logo">
                &nbsp; &nbsp;
                <span>LQ <br> 200/6 (20)</span>
                &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;
                <div class="team-names">
                    <h3>Lahore Qalandars <br> vs <br> Multan Sultans</h3>
                </div>
                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>MS <br> 199/8 (20)</span>  &nbsp; &nbsp;
                <img src="~/Images/sultan_logo-modified.png" alt="Team B Logo">
            </div>
            <div class="match-details">


                <span>Lahore Qalandars won by 1 run</span>
            </div>
        </div>
    </a>
</div>
