@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HBL PSL";
}


<div class="col-12 trans"></div>
<div class="col-3 News">

    LATEST NEWS
    <br><br>


    <hr class="line">
    <br>
    <span class="date">18 MARCH, 2023</span>
    <br><br>
    <img src="Images/LQ_trophy_Pics.jpg" width="60%" height="auto">
    <br><br>
    <vc:stats></vc:stats>
    <br><br>
    <hr class="line">
    <br>
    <span class="date">17 MARCH, 2023</span>
    <br><br>
    <img src="Images/LQ1.jpg" width="60%" height="auto">
    <br><br>
    Mirza Tahir Baig's 54 takes Lahore Qalandars into HBL PSL 8 final
    <br><br>
    <hr class="line">
    <br>
    <span class="date">16 MARCH, 2023</span>
    <br><br>
    <img src="Images/PS1.jpg" width="60%" height="auto">
    <br><br>
    Babar, Salman, Aamir knock out Islamabad United
    <br><br>
    <hr class="line">
    <br>
    <span class="date">15 MARCH, 2023</span>
    <br><br>
    <img src="Images/MS1.jpeg" width="60%" height="auto">
    <br><br>
    Pollard, Cottrell book Multan Sultans a berth in HBL PSL 8 final
    <br>


</div>

<div class="col-6">

    <h2 class="win">PSL 2023 WINNERS</h2>
    <br>

    <img src="Images/LQ_trophy_Pics.jpg" width="100%" height="auto">

    <br><br>

    <h2 class="win">PSL 2023 POINTS TABLE</h2>
    <table class="points">
        <thead>
            <tr>
                <th>TEAMS</th>
                <th>MAT</th>
                <th>WIN</th>
                <th>LOS</th>
                <th>PTS</th>
                <th>NRR</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td>Lahore Qalandars</td>
                <td>10</td>
                <td>7</td>
                <td>3</td>
                <td>14</td>
                <td>0.96</td>
            </tr>

            <tr>
                <td>Multan Sultans</td>
                <td>10</td>
                <td>6</td>
                <td>4</td>
                <td>12</td>
                <td>0.5</td>
            </tr>

            <tr>
                <td>Islamabad United</td>
                <td>10</td>
                <td>6</td>
                <td>4</td>
                <td>10</td>
                <td>-0.7</td>
            </tr>

            <tr>
                <td>Peshawar Zalmi</td>
                <td>10</td>
                <td>5</td>
                <td>5</td>
                <td>10</td>
                <td>-0.45</td>
            </tr>

            <tr>
                <td>Karachi Kings</td>
                <td>10</td>
                <td>3</td>
                <td>7</td>
                <td>6</td>
                <td>0.7</td>
            </tr>

            <tr>
                <td>Quetta Gladiators</td>
                <td>10</td>
                <td>3</td>
                <td>7</td>
                <td>6</td>
                <td>-1.06</td>
            </tr>

        </tbody>
    </table>
    <br>


    <a class="twitter-timeline" data-width="7100" data-height="360" href="https://twitter.com/thePSLt20?ref_src=twsrc%5Etfw">Tweets by thePSLt20</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


<br>
<div class="col-3 News">

    LATEST NEWS
    <br><br>

    <hr class="line">
    <br>
    <span class="date">12 MARCH, 2023</span>
    <br><br>
    <img src="Images/KK1.jpg" width="60%" height="auto">
    <br><br>
    Karachi Kings earn consolation win over Lahore Qalandars
    <br><br>
    <hr class="line">
    <br>
    <span class="date">12 MARCH, 2023</span>
    <br><br>
    <img src="Images/PS2.jpg" width="60%" height="auto">
    <br><br>
    Zalmi overcome United, will meet again in Eliminator 1 on 16 March
    <br><br>
    <hr class="line">
    <br>
    <span class="date">09 March, 2021</span>
    <br><br>
    <img src="Images/FZ.jpg" width="60%" height="auto">
    <br><br>
    Lahore Qalandars march into Qualifier after Fakhar's swashbuckling 115
    <br>
    <br>
    <hr class="line">
    <br>
    <span class="date">09 March, 2023</span>
    <br><br>
    <img src="Images/roy.jpeg" width="60%" height="auto">
    <br><br>
    Roy's 145* trumps Babar's 115 in HBL PSL classic
    <br>


</div>

<div class="col-12 trans"></div>


